In [23]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [8]:
#csv files
mouse_metadata_path = "mouse_metadata.csv"
study_results_path = "pymaceuticals_data.csv"

In [9]:
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [10]:
#merge csv files
data_complete = pd.merge(mouse_metadata, study_results, how="left", on = ["Mouse ID", "Mouse ID"])

In [11]:
data_complete.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [13]:
#total mouse count
total_mice = data_complete["Mouse ID"].count()
total_mice

1893

In [14]:
#identify duplicate data
duplicate_data = data_complete[data_complete.duplicated(["Mouse ID", "Timepoint"])]
print(duplicate_data)

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)  Timepoint  \
909     g989     Propriva  Female          21          26          0
911     g989     Propriva  Female          21          26          5
913     g989     Propriva  Female          21          26         10
915     g989     Propriva  Female          21          26         15
917     g989     Propriva  Female          21          26         20

     Tumor Volume (mm3)  Metastatic Sites
909           45.000000                 0
911           47.570392                 0
913           49.880528                 0
915           53.442020                 0
917           54.657650                 1

In [16]:
data_complete2 = data_complete.drop_duplicates(["Mouse ID", "Timepoint"])
data_complete2

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [17]:
total_mice2 = data_complete2["Mouse ID"].count()
total_mice2

1888

In [20]:
mean_tumor_volume = round(data_complete2["Tumor Volume (mm3)"].mean(),2)
mean_tumor_volume

50.45

In [22]:
median_tumor_volume = round(data_complete2["Tumor Volume (mm3)"].median(), 2)
median_tumor_volume

48.95

In [25]:
variance_tumor_volume = np.var(data_complete2["Tumor Volume (mm3)"])
variance_tumor_volume

79.24927995522994

In [26]:
std_tumor_volume = np.std(data_complete2["Tumor Volume (mm3)"])
std_tumor_volume

8.902206465547176

In [27]:
sem_tumor_volume = st.sem(data_complete2["Tumor Volume (mm3)"])
sem_tumor_volume

0.2049329125626728

In [28]:
stats_df = pd.DataFrame([[mean_tumor_volume, median_tumor_volume, variance_tumor_volume, std_tumor_volume, sem_tumor_volume]], 
                        columns = ['Mean Tumor Volume', 'Median Tumor Volume', 'Variance Tumor Volume', 'Std Dev Tumor Volume', 'SEM Tumor Volume'])
stats_df

,Mean Tumor Volume,Median Tumor Volume,Variance Tumor Volume,Std Dev Tumor Volume,SEM Tumor Volume
0,50.45,48.95,79.24928,8.902206,0.204933